
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



* {
    box-sizing: border-box;
    margin:0 ;
    margin-left: 0;
    

}

.navbar {background-color: #f0a58f;}

.navbar-brand{
    font-family: "DM Serif Display",sans-serif; 
    font-size: 3em;
    display: flex;
    
}

.col-md-3 {

    max-height:150vh ;
    padding: 6vh;
    font-weight: 100;
margin-left: 32px;
margin-right: 32px;
    }

header,footer {
    width:100%;
    margin:auto;
    background-color: #f0a58f;
    padding: 20px;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover; /* Ajusta cómo se muestra la imagen dentro del contenedor */
    background-color: #002900;
}
body {
    width: 100%;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    background-color: black;
}


.container {

    justify-content: center;
}

h2{ font-size: 7rem;
    margin-top: 100px;
    text-decoration: whitesmoke;
    padding-left: 10px;

}


p{
font-weight: 200;
margin-top: 50px;
text-align: center;
text-decoration: wavy;
padding-left: 16px;
padding-right: 16px;
}

p:first-child{ margin-bottom: 100px;}

.section { 
    margin-top: 300px !important
}


@media(max-width: 768px){
    body {
        width: 100%;
        font-size: 24px;
        font-family: "Josefin Sans", sans-serif;
        background-color: black;
    }
    
    
    }